[submodule "server"]
	path = middle-tier
        url = https://github.com/marklogic-community/grove-node.git
[submodule "marklogic"]
	path = marklogic
	url = https://github.com/marklogic-community/grove-ml-gradle.git
[submodule "ui"]
	path = ui
	url = https://github.com/marklogic-community/grove-react-ui.git
