[submodule "server"]
	path = middle-tier
  url = https://project.marklogic.com/repo/scm/nacw/grove-node.git
[submodule "marklogic"]
	path = marklogic
	url = https://project.marklogic.com/repo/scm/~gjosten/grove-ml-gradle.git
[submodule "ui"]
	path = ui
	url = https://project.marklogic.com/repo/scm/~pmcelwee/grove-react-ui.git
